<% provide(:title, "Top") %>
<div class="center jumbotron">
<h1>勤怠管理システム</h1>
<p>このアプリケーションは勤怠を管理できます。</p>
<% if logged_in? %>
  <%= link_to "ログイン済み", login_path, class: "btn btn-lg btn-primary btn-block disabled" %>
<% else %>
  <%= link_to "ログイン", login_path, class: "btn btn-lg btn-primary btn-block" %>
<% end %>
</div>