<h1>出勤中社員一覧</h1>

  <div>
    <table class="table table-bordered table-condensed user-table">
      <thead>
        <tr>
          <th>社員番号(カードID)</th>
          <th>名前</th>
        </tr>
      </thead>
      
      <% @users.each do |user| %>
        <tbody>
          <tr>
            <td><%= user.uid %></td>
            <td><%= user.name %></td>
          </tr>
        </tbody>
      <% end %>
    </table>
  </div>
