<h1>出勤中社員一覧</h1>

  <div class ="row">
    <table class="table table-bordered table-condensed user-table" >
      <thead>
        <th>
          <td>社員番号</td>
          <td>名前</td>
        </td>
      </thead>
      
      <% @attendances.each do |id, attendances| %>
      <% user = User.find(id) %>
        <tbody>
              <tr>
                <td><%= user.uid %></td>
                <td><%= user.name %></td>
              </tr>
        </tbody>
      <% end %>
    </table>
  </div>
