<% provide(:title, "All Users") %>
<h1>ユーザー一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-users">
    <tr>
      <td>社員番号</td>
      <td>名前</td>
    </tr>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= "#" %></td>
        <td><%= user.name %></td>
      </tr>
    <% end %>
  </table>
</div>