<% provide(:title, "All Users") %>
<h1>ユーザー一覧</h1>

<div>
  <table class="table table-bordered table-condensed table-hover" id="table-users">
    <tr>
      <td>社員番号</td>
      <td>名前</td>
      <td></td>
    </tr>
    
    <% @users.each do |user| %>
      <tr>
        <td><%= "#" %></td>
        <td><%= user.name %></td>
        <!--今ログインしているのは管理者かつ、今のユーザーがログインしているユーザー-->
        <td>
          <% if current_user.admin? && !current_user?(user) %>
          <%= link_to "削除", user, method: :delete,
              data: { confirm: "削除してもいい？" },
              class: "btn btn-danger" %>
          <%= link_to "編集", edit_user_path(user), class: "btn btn-info" %>
          <% end %>
        </td>
      </tr>
    <% end %>
  </table>
</div>